<div class="main-section" #mainSection>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 availableTop" [ngClass]="{ 'scroll-down': isVisible }">
                <button class="available">
                    <i class="fa-solid fa-circle animateIcon"></i>
                    Available for opportunities
                </button>
            </div>
            <div class="col-lg-12 mt-1 mb-4 title" [ngClass]="{ 'fade-in': isVisible }">
                <h1 style="color: white;">Senior</h1>
            </div>
            <div class="col-lg-12 mt-1 title" [ngClass]="{ 'fade-in': isVisible }">
                <span class="gradient-text">Developer</span>
            </div>
            <div class="col-lg-12 mt-4 mb-2 text-start" [ngClass]="{ 'fade-in': isVisible }">
                <p class="narrow-paragraph">
                    I build robust, scalable, and user-focused web applications from
                    end to end. With a strong command of both frontend and backend technologies, I craft seamless
                    digital experiences that are efficient, secure, and maintainable. I’m passionate about clean
                    architecture, modern frameworks, and delivering high-quality solutions that solve real business
                    problems. Whether it's designing intuitive UIs, optimizing APIs, or leading development teams, I
                    bring a thoughtful and results-driven approach to every project I work on.
                </p>
            </div>
            <div class="col-lg-12 mb-4 buttons" [ngClass]="{ 'scroll-up': isVisible }">
                <button mat-raised-button class="view" (click)="viewWork()">View My Work</button>
                <button class="icons" (click)="openLinkedIn()"><i class="fa-brands fa-linkedin-in"></i></button>
                <button class="icons" (click)="sendEmail()"><i class="fa-solid fa-envelope"></i></button>
            </div>
            <div class="col-lg-12 text-center margin">
                <button class="icons animate-button"><i class="fa-solid fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
</div>